.navbar {
    width: 100%;
    background-color: #EAE7DC; 
    overflow: auto;
}

.navbar a {
    float: right;
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #8E8D8A;
    color: white;
}

.active {
    background-color: #8E8D8A;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

body {
    text-align: center;
    margin-bottom: 80px;
    background-color: black;
    color: white;
    font-family: monospace; 
    font-size: 18px;
}

h2 {
    color: #E34324;
}

h3 {
    color: #EFBC4F;
}

section{
    margin-left: 80px;
    margin-right: 80px;
}

.pic1 {
    width: 25%;
    max-width: 25%;
    min-width: 25%
    float: left;
    height: 250px;
    align-content: center;
    padding-left: 60px;
    padding-bottom: 40px;
}

.pic2 {
    width: 25%;
    max-width: 35%;
    min-width: 25%
    float: right;
    height: 250px;
    align-content: center;
    padding-right: 60px;
    padding-bottom: 40px;
}

.overview {
    clear: both;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

iframe {
    height: 300px;
    width: 100%;
}

a {
    color: white;
    float: left;
}

.about {
    width: 100%;
    display: block;
    overflow: auto;
}

.quick-info {
    width: 100%;
    display: block;
    overflow: auto;
}

.thirty {
    width: 30%;
    float: left;
}

p.seventy {
    width: 70%;
    float: right;
}

ul.seventy {
    width: 60%;
    float: right;
}

.col {
    column-count: 2;
}

.adv {
    float: left;
    width: 50%;
    text-align: center;
    display: contents;
    overflow: auto;
}

.prof {
    float: right;
    width: 50%;
    text-align: center;
    height: 180px;
}

.explain {
    width: 80%;
    height: 200px;
    margin-left: 10%;
    margin-right: 10%
}

h4, em {
    color: #88BDBC;
}

p {
    background-color: darkgrey;
    color: black;
}

li, ul.seventy {
    background-color: darkgrey;
    color: black; 
}

.quotegen {
    padding-top: 20px;
    text-align: left;
    width: 80%;
    clear: both;
    margin-right: 10%;
}